
#footer {
    height: 17%;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    display:flex;
    background: darkcyan;
    color: white;
}

.button {
    composes : button from './modal.module.css';
    padding-right: 25px;
    background: none;
    box-shadow: 0 0 0 0;
}

.icon {
    font-size: 4em;
    border-radius: 50%;
    background: #720645;
}