
#footer {
    height: 17%;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    display:flex;
    justify-content: space-between;
    background: darkcyan;
    color: #720645;
}

.button {
    composes : button from './modal.module.css';
    padding: 0;
    background: none;
    box-shadow: 0 0 0 0;
}

.icon {
    font-size: 24px;
}





