#footer {
    margin: 0;
    font-weight: bold;
    padding: 10px 0;
    color: rgb(56, 50, 50);
    display: flex;
    justify-content: space-around;
    font-size: 0.8em;
    width: 100%;
    background: #93b3bbd8;
}