html {
    font-size: 1em;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 100%;
    margin: auto;
}


@media screen and (min-width: 550px) {
    html {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 750px) {
    html {
        font-size: 1.5em;
    }
}