 /* add media queries for modal */

.modal {
    /* position: absolute;
    width:60%;
    left: 0;
    right: 0;
    top: 20%;
    margin: auto;
    text-align:center;
    padding: 15px;
    border-radius: 3px; */
    /* //default bg color */
    /* background:white;
    box-shadow: 0px 13px 46px -18px rgba(0,0,0,0.75);
    z-index: 1; */
}

.confirm {
/* 
    color: white;
    --theme-color: #665d88;
    background: var(--theme-color); */
}

.success {
    /* --theme-color: #6da592;
    color: white;
    background: var(--theme-color); */
}

.add {
    /* --theme-color:#538594; ;
    background:var(--theme-color);
    color: white */
}

.update {
    /* --theme-color:#4a8888;
    background: var(--theme-color);
    color:white; */
}

.header {
    /* padding: 5px;
    text-transform: uppercase; */
}

.p {
    /* padding: 10px;
    margin: 5px; */
}

.buttons-container {
    /* padding: 10px; */
} 

.button {
    /* padding: 10px;
    margin: 5px;
    background: white;
    border: none;
    color: var(--theme-color);
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    text-transform: Capitalize; */
     /* box shadow not working on buttons
    box-shadow: 0px 13px 46px -18px rgba(0,0,0,0.75); */
} 