.header {
    text-align: center;
    width: 100%;
}

.button {
    composes: button from './modal.module.css';
    background: none;
    box-shadow: none;
}

#month-header {
    display: flex;
    justify-content: center;
}

.icon {
    composes: icon from './transactionlist.module.css';
    font-size: 3em;
}

#month-content-div {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}
