.list {
    width: 100%;
    text-align: center;
    list-style-type: none;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    padding: 0;
}

.li{
    padding: 5px;
}

.total {
    width: 100%;
    list-style-type: none;
    font-weight: bold;
    display: flex;
    text-align: center;
    padding: 0;
}

.button {
    composes: button from './modal.module.css';
    background: none;
    padding: 0;
}

.icon {
    font-size: 1.3em;
    color: darkcyan;
}

.hr {
    border: 1px solid darkcyan;
    opacity: 0.2;
}

.list-title {
    padding-bottom: 15px;
    font-size: 1.2em;
}

#empty {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.trans-list-item {
    color: darkcyan;
    text-transform: uppercase;
    font-style: italic;
}