.form {
    width: 100%;
}

.input,.select {
    margin: 5px;
    padding: 5px;
    border: .5px solid inset gray;
    border-radius: 3px;
}

.label {
    display: block;
}

.button {
    composes: button from './modal.module.css';
}