.list {
    width: 100%;
    text-align: center;
    list-style-type: none;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    padding: 0;
}

.li{
    padding: 5px;
}

.total {
    width: 100%;
    list-style-type: none;
    font-weight: bold;
    display: flex;
    text-align: center;
    padding: 0;
}

.button {
    composes: button from './modal.module.css';
    background: none;
    padding: 0;
}

.icon {
    font-size: 1.3em;
    color: #2e4468;
}

.hr {
    width: 100%;
    border: 1px solid black;
    opacity: 0.1;
}

.list-title {
    font-weight: bold;
}