.table {
    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
    text-align: center;
}

.th {
    font-size: 1.08em;
}


.button {
    composes: button from './modal.module.css';
    background: none;
}

.icon {
    font-size: 1.3em;
    color: #2e4468;
}